/* Reset e estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-left: 30px;
  margin-right: 30px;
}

body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
  line-height: 1.6;
  transition: background 0.3s, color 0.3s;
}

/* Modo escuro */
.dark-mode {
  background: #121212;
  color: #e0e0e0;
}

/* Dark mode para container */
.dark-mode .container {
  background: #1e1e1e;
  color: #e0e0e0;
}

header {
  background: #101357;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  font-family: 'Outfit', sans-serif;
}

.toggle-mode {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #fff;
  color: #004d99;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

nav {
  background: #00a0a0;
  padding: 10px;
  font-family: 'Outfit', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 5px 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.search-container {
  text-align: center;
  margin: 20px;
}

.search-container input {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px; /* Apenas 20px de padding lateral */
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 12px;
  font-family: 'Outfit', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}

.concerns{
  line-height: 0 !important;
}

section {
  margin-bottom: 40px;
}

.CIA{
  color: #00a0a0;
  font-weight: 600;
}

.cia-triad-img{
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.cia-triad-img img{
  border-radius: 12px;
}

.heat-map-img {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin: 15px auto; /* Centraliza horizontalmente */
  max-width: 700px;
  height: auto;
}

.heat-map-img img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}


section h2 {
  border-bottom: 2px solid #004d99;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

article {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s;
}

article h3 {
  color: #004d99;
  margin-bottom: 10px;
}

article p {
  margin-left: 20px;
  margin-bottom: 10px;
}

/* Estilos para as listas dentro dos artigos */
article ul {
  margin: 10px 0 10px 40px;
  padding-left: 20px;
  list-style-type: disc;
}

.test-container ol{
  margin-left: 20px;
  padding-left: 20px;
  list-style-type: disc;
}

.test-container h4{
  margin-left: 20px;
}

article ul li {
  margin-bottom: 5px;
  line-height: 1.4;
}

/* Botão de favorito */
.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}

.favorite {
  color: gold;
}

/* Botão de progresso */
.progress-btn {
  position: absolute;
  top: 10px;
  right: 40px; /* Um pouco à esquerda do botão de favorito */
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}

.completed-article {
  opacity: 0.6;
}

/* Dashboard de Progresso */
#dashboard {
  border: 2px dashed #004d99;
  padding: 15px;
  margin-top: 20px;
}

#dashboard ul {
  margin-top: 10px;
  list-style: none;
}

#dashboard li {
  margin: 5px 0;
  cursor: pointer;
}

h3 span {
  font-family: 'Outfit', sans-serif;
}

footer {
  background: #00a0a0;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  font-family: 'Outfit', sans-serif;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scroll-to-top button {
  padding: 10px 15px;
  background: #101357;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: background 0.3s;
}

.scroll-to-top button:hover {
  background: #0e0b56;
}

/* Estilos para a seção de referências ISC2 */
#recursos {
  background-color: #f0f8ff; /* Fundo azul clarinho */
  border: 1px solid #004d99;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#recursos h2 {
  color: #004d99;
  text-align: center;
  margin-bottom: 15px;
}

#recursos p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

#recursos ul {
  list-style: none;
  padding-left: 0;
}

#recursos ul li {
  margin-bottom: 10px;
  margin-top: 10px;
}

#recursos ul li a {
  color: #004d99;
  text-decoration: none;
  font-weight: bold;
}

#recursos ul li a:hover {
  text-decoration: underline;
}

#taskInput {
  width: 80%;
  max-width: 400px;
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid #004d99; /* Borda azul vibrante */
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 10px;
}

#taskInput:focus {
  outline: none;
  border-color: #0e0b56; /* Azul mais escuro */
  box-shadow: 0 0 8px rgba(0, 77, 153, 0.5);
}


/* Botão de Adicionar Tarefa */
#addTaskBtn {
  background-color: #004d99; /* Azul vibrante */
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

#addTaskBtn:hover {
  background-color: #003366; /* Azul mais escuro */
}

/* Botão para Iniciar o Quiz */
#startQuizBtn {
  background-color: #101357; /* Cor base */
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

#startQuizBtn:hover {
  background-color: #0e0b56;
}

.dark-mode .isc2-note {
  background-color: #004d99; /* Fundo azul */
  color: #fff;              /* Texto branco */
  padding: 5px 10px;
  border-radius: 5px;
}

.triad-section {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.triad-section p {
  margin: 5px 0;
  line-height: 1.5;
}

#confidenciality{
color: #2980B9;
}

#integrity{
  color: #F4D03F;
}

#availability{
  color: #D35400;
}
  


/* Estilização específica para a seção de preocupações */
.concerns {
  margin-top: 10px;
}

.concerns p {
  margin-bottom: 5px;
  /* Se precisar, você pode ajustar a indentação para alinhar com os outros parágrafos */
}

.concerns ul {
  margin: 0;          /* Remove a margem externa para manter alinhamento */
  padding-left: 20px;  /* Indenta a lista de forma consistente */
  list-style-type: disc;
}

.concerns ul li {
  margin-bottom: 4px;
}



/* Responsividade */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  .toggle-mode {
    position: static;  /* Remove a posição absoluta */
    display: block;
    margin: 10px auto; /* Centraliza horizontalmente e adiciona espaçamento */
    padding: 8px 12px;
  }

  .cia-triad-img img{
    max-width: 100%;
    height: auto;
  }
}
